@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  display: grid;
  height: 100vh;
  grid-template-rows: 0.5fr 8fr 0.5fr;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.board {
  width: 400px;
  height: 400px;
  border: 1px solid burlywood;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  border: 1px solid red;
}

.ship {
  background-color: blue;
}

.missed {
  background-color: rgb(182, 179, 179);
}

.sunk {
  background-color: red;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.github-logo {
  font-size: 3rem;
  margin-left: 1rem;
  transition: transform 1s;
}

.github-logo:hover {
  transform: rotate(1turn);
}
